<a href="https://colab.research.google.com/github/ahmedmedrah/Regression-Model-in-Keras/blob/master/Regression_Model_in_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part A

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('concrete_data.csv')
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [0]:
X = df.drop(columns='Strength')
y = df.Strength.values
n_cols = X.shape[1]

In [4]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

### One hidden layer of 10 nodes, and a ReLU activation function

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train the model on the training data using 50 epochs.
###  Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength
###  Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [6]:
mse = []
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3 , random_state = 42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse.append(mean_squared_error(y_test,y_pred))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

###  Report the mean and the standard deviation of the mean squared errors.

In [7]:
mse = np.array(mse)
print('average of MSE= ',mse.mean())
print('standard deviation of MSE=' ,mse.std())

average of MSE=  145.1074498585207
standard deviation of MSE= 54.98158982230538

# Part B
###  Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [8]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [0]:
mse_norm = []
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(X_norm,y,test_size = 0.3 , random_state = 42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse_norm.append(mean_squared_error(y_test,y_pred))

In [10]:
mse_norm = np.array(mse_norm)
print('average of MSE with normalized data= ',mse_norm.mean())
print('standard deviation of MSE with normalized data= ' ,mse_norm.std())

average of MSE with normalized data=  144.92668231072454
standard deviation of MSE with normalized data=  6.459303716365668

### How does the mean of the mean squared errors compare to that from Step A?

In [11]:
print('the difference between original data and normalized data in MSE is = ',np.absolute(mse_norm.mean()- mse.mean()))

the difference between original data and normalized data in MSE is =  0.18076754779616522

# Part C
### Repeat Part B but use 100 epochs this time for training.

In [0]:
mse_norm_100 = []
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(X_norm,y,test_size = 0.3 , random_state = 42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=100, verbose=0)
    y_pred = model.predict(X_test)
    mse_norm_100.append(mean_squared_error(y_test,y_pred))

In [13]:
mse_norm_100 = np.array(mse_norm_100)
print('average of MSE with normalized data= ',mse_norm_100.mean())
print('standard deviation of MSE with normalized data= ' ,mse_norm_100.std())

average of MSE with normalized data=  112.44937033727103
standard deviation of MSE with normalized data=  12.065437336563543

### How does the mean of the mean squared errors compare to that from Step B?

In [14]:
print('the difference between normalized data with 100 epoche and with 50 epoche in MSE is = ', \
      np.absolute(mse_norm_100.mean()- mse_norm.mean()))

the difference between normalized data with 100 epoche and with 50 epoche in MSE is =  32.47731197345351

# Part D
### Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [0]:
mse_norm_3 = []
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(X_norm,y,test_size = 0.3 , random_state = 42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse_norm_3.append(mean_squared_error(y_test,y_pred))

In [17]:
mse_norm_3 = np.array(mse_norm_3)
print('average of MSE with normalized data= ',mse_norm_3.mean())
print('standard deviation of MSE with normalized data= ' ,mse_norm_3.std())

average of MSE with normalized data=  109.69414096012564
standard deviation of MSE with normalized data=  18.705891130441113

### How does the mean of the mean squared errors compare to that from Step B?

In [18]:
print('the difference between normalized data with 1 hidden layer and with 3 hidden layers in MSE is = ', \
      np.absolute(mse_norm_3.mean()- mse.mean()))

the difference between normalized data with 1 hidden layer and with 3 hidden layers in MSE is =  35.41330889839507